* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles */
body {
    font-family: Roboto, Arial, sans-serif;
    color: #333;
    text-align: justify;
    line-height: 37.5px;
    font-size: 32px;
}

.mainpage {
    margin: auto;
    padding: 0px 55px;
    width: 1219px;
    margin-top: 4ch;
    align-content: center;
}